*
{
    border : solid red 1px;
}
body
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.box
{
    border: solid gray 1px;
    box-sizing: border-box;
}

.container
{
    
    height: 80vh;
    padding:1vw;
    border-radius: 0.5vw;
    display:flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}