
body
{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    background-color: bisque;
}

.box
{
   
    box-sizing: border-box;
}

.container
{
    
    padding:1vw;
    border-radius: 0.5vw;
    display:grid;
    row-gap: 0px;
    column-gap: 0px;
    background-color: aliceblue;
}